body {
	font-size: 15px;
    line-height: 1.52;
    color: #717f86;
    font-size: 16px;
	font-family: 'Open Sans', sans-serif;
    font-weight: 400;
}

ol, ul {
	list-style: none;
}

.section-padding{
	padding: 60px 0px;
}

h1, h2, h3, h4, h5, h6{
    font-family: Open Sans, sans-serif;
    font-weight: 700;
    color: rgb(15, 15, 179);
}
a{
    color: #5fcf80;
}
a:hover, a:focus{
    color: #5fcf80;
}
/* Navigation start here */
.navbar-default .navbar-brand {
    color: #5FCF80;
    
}
.navbar-default {
    background-color: #ffffff;
}

.course-text{
    padding: 84px;
}
.navbar-default .navbar-nav > li > a {
    color: #717f86;
    font-size: 14px;
    font-weight: 700;
}
.navbar-nav > li > a{
	padding: 0px;
	margin: 10px 5px;
	padding: 10px 15px;
}
.navbar-default .navbar-nav > li > a:focus, .navbar-default .navbar-nav > li > a:hover
{
    color: #5FCF80;
    border: 1px solid #5FCF80;

}

.navbar-nav .active a{
    background: none !important;
    color: #5FCF80 !important;
    outline: none;
}

.navbar-default .navbar-brand span{
    font-weight: 100 !important;
    
}
.navbar {
    margin-bottom: 0px;
}
.padding-zero{
	padding: 0px;
}

/* GSU Welcome page */
.welcomepg{
	background: url('../images/1.jpeg') no-repeat center top;
    background-size: cover;
	min-height: 580px;
    position: relative;
}
.bg-color{
	background-color: RGBA(12, 11, 11, 0.82);
	min-height: 580px;
}
.gsuhead{
	font-size: 40px;
	padding: 10px 20px;
    margin: 15px 0;
	text-transform: uppercase;
    color: #fff;
}
.text-border{
	border: 5px solid #f3e30b;
	display: inline-block;
    margin-top: 150px;
    border-radius: 60px;
}
.intro-par{
	font-family: 'Alegreya Sans', sans-serif;
	font-size: 45px;
	color: #fff;
	margin-top: 30px;
}
.quote .btn{
    background-color:#5FCF80;
}
.modal-dialog {
    width: 600px;
    margin: 120px auto;
}
.modal-content h4 {
    font-size: 1.5em;
    font-weight: 700;
}
.login-box-body {
    padding: 15px 30px;
}
.modal-sm {
    width: 400px;
}
/* Home */
.medium-text{
    font-size: 35px;
}
.small-text{
    font-size: 16px;
}
/* Home ends */
/*  */
/* VCs' Page */

.vc-image{
  width: 150px;
  height: 150px;
  border-radius: 100%;
  display: inline-block;
}
.vc-profile {
    padding: 20px 20px;
}
.vc-name {
    font-size: 24px;
    text-transform: capitalize;
    color: #2b5d83;
}
.vc-title {
    text-transform: capitalize;
    color: #4b4b4b;
    font-weight: 500;
    
}
.vc-bio {
  text-transform: capitalize;
  color: #4b4b4b;
  font-weight: 100;
  text-align: justify;
}
/* Requirement page */
#requirement{
    background-color: #111;
}
.bg-white{
    background-color: #fff !important;
}
.text-comment{
  background-color: rgb(255, 255, 255);
  padding: 20px;
}
.text-par{
  font-size: 20px;
  padding-bottom: 15px;
}

/* Requirement ends */

/* Contact us page */
.contact form .form {
    width: 100%;
    height: auto;
    padding: 15px 15px 12px;
    font-size: 18px;
    margin-bottom: 18px;
    color: #0f0f0f;
    letter-spacing: 0.5px;
}
#contact .form-control {
    background: #fafafa;
    border: 1px solid rgba(119, 81, 81, 0.34);
    width: 100%;
	margin-bottom: 15px;
    border-radius: 0;

}
.textarea {
    height: 228px;
    max-width: 100%;
    max-height: 229px;
}
.light {
    font-weight: 100;
}
.white{
    color: #fff !important;
}


/* Footer */
.footer {
    padding: 60px 0 20px;
    background: #111;
    color: #ccc;
}
.footer a {
    color: #fff;
}

.footer h3{
	font-weight: 300;
	letter-spacing: 0.05em;
	margin: 0 0 40px;
	font-size: 24px;
}
.footer .form-control {
    border-radius: 30px;
    border: none;
    background: rgba(255,255,255,.1);
    padding-left: 30px;
    color: #e5e6e7;
    margin-bottom: 0;
    height: 48px;
}
.footer .social-links li a {
    color: #fff;
    font-size: 32px;
    line-height: 50px;
    border-radius: 50%;
    text-align: center;
    -webkit-transition: all .3s ease-out;
    transition: all .3s ease-out;
}
.footer .social-links li {
    display: inline-block;
    margin: 0 25px 25px;
    -webkit-transition: all .3s ease-out;
    transition: all .3s ease-out;
}
.footer .mc-trial {
    margin: 20px 0;
}
.footer .social-links {
    list-style: none;
    padding: 0;
    margin: 30px 0 40px;
    padding: 40px 0 0;
    border-bottom: 1px solid rgba(255,255,255,0.2);
}
.btn-submit:hover, .btn-submit:focus{
    background-color: white;
    color: black;
}
.btn-submit{
	padding: 14px 12px;
	border-radius: 50px;
	text-transform: uppercase;
    background-color:rgb(5, 144, 5);
    color: #fff;
}
.btn {
    padding: 10px 20px;
}
.btn-green, .btn-green:hover{
    background-color: #5fcf80;
    color: #fff;
}
.footer .form-control:focus{
    box-shadow: none;
}
/* @media Stated */
@media (min-width: 20px) and (max-width: 450px) {
    .text-dec {
    font-size: 20px;
    }
    .big-text {
    font-size: 30px;
    }
    .small-text {
    font-size: 14px;
    }
    .intro-para {
    font-size: 30px;
    }
    .header-section p{
        font-size: 14px;
    }
    .heading {
    margin-bottom: 20px;
    }
    h3.det-txt {
    font-size: 28px;
    }
    .contact-form-button{
        width: 40%;
    }
    .modal-sm {
    width: 300px;
    }
    .login-box-body {
    padding: 15px 20px;
    }
    .navbar-default .navbar-brand{
        margin-left: 10px;
    }
    .navbar-default .navbar-nav > li > a{
        text-align: center;
    }
}

